<td class="name">
  <div class="name-container">
    <a {{action "togglePluginDetail"}} class="btn-plugin" role="button">
      <span class="name-label">{{plugin.display_name}}</span>
    </a>

    {{#if showPluginDetail}}
      {{plugin-detail plugin=plugin manifest=true}}
    {{/if}}
  </div>
</td>

<td class="status">
  <div class="status-container">
    {{plugin-status-button plugin=plugin discourse=discourse}}
  </div>
</td>
