.discourse-no-touch .btn-success,
.discourse-no-touch .btn-success:hover {
  background-color: $success;
  color: $secondary;
}

.server-status-container {
  max-width: 1110px;
  margin: 0 auto;
}

.server-status {
  margin-bottom: 20px;
  border-top: 1px solid $primary-medium;
  border-left: 1px solid $primary-medium;
  border-right: 1px solid $primary-medium;

  &.visible {
    display: block;
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $primary-medium;

    h3 {
      margin: 0 1em;
      line-height: 100%;
    }

    .left {
      display: inline-flex;
      align-items: center;
    }
  }

  .discourse-status {
    display: inline-flex;
    padding: 1em;
    flex-wrap: wrap;

    > div, > a {
      display: block;

      &:not(:last-child) {
        margin-right: 20px;
      }

      label {
        font-size: 0.9em;
        cursor: pointer;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    padding: 1em;

    span {
      white-space: nowrap;
    }

    a:not(:last-of-type) {
      margin-right: 10px;

      span {
        line-height: 20px;
      }
    }

    .update-topic {
      display: inline-flex;
      
      > span:first-of-type {
        margin-right: 8px;
      }

      .event {
        display: flex;
        align-items: center;
      }

      .d-icon {
        color: $secondary;
      }
    }
  }

  .bottom {
    border-bottom: 1px solid $primary-medium;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-gap: 1em;
    padding: 1em;

    .plugin-list {
      > p {
        font-size: .9em;
      }
      
      .plugin-list-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        > h4 {
          margin: 0;
        }

        > .btn {
          background: unset;
          padding: .5em;
        }

        .status-description {
          position: absolute;
          padding: 1em;
          border-top: 1px solid var(--primary-very-low);
          box-shadow: shadow('dropdown');
          background-color: var(--secondary);
          top: 34px;
          width: 300px;
          z-index: 1;

          p {
            margin: 0;
          }

          .status-description-gutter {
            margin-top: .75em;
          }
        }
      }
    }
  }

  div.plugin-status {
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    padding: .25em .5em;
    margin-bottom: .75em;

    &:last-of-type {
      margin-bottom: 0;
    }

    &.plugin-status.recommended {
      background-color: var(--success);

      .name,
      .status-icon .d-icon {
        color: var(--secondary);
      }
    }

    &.plugin-status.compatible {
      border: 1px solid var(--primary);

      .status-icon .d-icon {
        color: var(--primary);
      }

      .details h4 {
        color: var(--primary);
      }
    }

    &.plugin-status.incompatible {
      border: 1px solid var(--danger);

      .status-icon .d-icon {
        color: var(--danger);
      }

      .details h4 {
        color: var(--danger);
      }
    }

    .name {
      margin-right: 5px;
    }

    .details {
      border-top: 1px solid var(--primary-low);
      background-color: var(--secondary);
      box-shadow: shadow('dropdown');
      z-index: 1;
      padding: 1em;
      min-width: 300px;

      p {
        margin-bottom: 0;
      }

      .plugin-metadata {
        margin: .5em 0 0 0;
        padding: 0;
        list-style: none;

        .d-icon {
          margin-right: .5em;
        }
      }

      .log {
        margin-top: .5em;
      }

      .show-log {
        margin: .5em 0;
        color: var(--primary);

        .d-icon {
          font-size: .8em;
        }
      }

      .log-url {
        color: var(--primary);
        margin-right: .5em;

        .d-icon {
          font-size: .8em;
          margin-right: .25em;
        }
      }

      .log-detail {
        max-height: 300px;
        overflow-y: scroll;
        background-color: var(--primary);
        color: var(--secondary);

        .log-attr {
          margin: .25em 0;

          &:last-of-type {
            margin-bottom: 0;
          }
        }

        label {
          display: inline-block;
          padding: .15em;
          margin: 0 .25em 0 0;
          text-decoration: underline;
        }
      }
    }
  }
}